/// Color perteneciente a la paleta de colores.
$dark-text: hsl(208, 50%, 15%);

/// Color perteneciente a la paleta de colores.
$purple: hsl(253, 81%, 58%);

/// Color perteneciente a la paleta de colores.
$red: hsl(0, 100%, 38%);

/// Color perteneciente a la paleta de colores.
$orange: hsl(29, 79%, 52%);

/// Color perteneciente a la paleta de colores.
$green: hsl(165, 48%, 50%);

/// Color perteneciente a la paleta de colores.
$gray-1: hsl(210, 6%, 58%);

/// Color perteneciente a la paleta de colores.
$gray-2: hsla(224, 8%, 74%, 1);

/// Color perteneciente a la paleta de colores.
$gray-3: hsla(217, 15%, 83%, 1);

/// Color perteneciente a la paleta de colores.
$gray-4:hsla(0, 0%, 91%, 1);

/// Color perteneciente a la paleta de colores.
$gray-5:hsla(200, 12%, 95%, 1) ;

/// Color perteneciente a la paleta de colores.
$gray-6: hsl(260, 60%, 99%);

/// Color perteneciente a la paleta de colores.
$gray-7: hsl(0, 0%, 92%);