/// Hex #132739.
$dark-text: hsl(208, 50%, 15%);

/// Hex #623CEA.
$purple: hsl(253, 81%, 58%);

/// Hex #C20000.
$red: hsl(0, 100%, 38%);

/// Hex #E58124.
$orange: hsl(29, 79%, 52%);

/// Hex #42BB9C.
$green: hsl(165, 48%, 50%);

/// Hex #FDEAEC. Fondo cartel live.
$live-background: hsl(354, 83%, 95%);

/// Hex #8C939A.
$gray-1: hsl(210, 6%, 58%);

/// Hex #B7BAC2.
$gray-2: hsl(224, 8%, 74%);

/// Hex #CDD2DA.
$gray-3: hsla(217, 15%, 83%, 1);

/// Hex #E8E8E8.
$gray-4:hsl(0, 0%, 91%);

/// Hex #F1F3F4.
$gray-5:hsl(200, 12%, 95%) ;

/// Hex #FCFBFE.
$gray-6: hsl(260, 60%, 99%);

/// Hex #EBEBEB.
$gray-7: hsl(0, 0%, 92%);

/// Fondo main. Hex #F1F4F8
$gray-8: hsl(214, 33%, 96%);
