/// Mixin para generar estilos para flexbox facilmente.
/// @param {String} $dis Estilo ´display´.
/// @param {String} $direction Estilo ´flex-direction´.
/// @param {String} $wrap Estilo ´flex-wrap´.
/// @param {String} $justify Estilo ´justify-content´.
/// @param {String} $align Estilo ´align-items´.
/// @param {String} $gap Estilo ´gap´.
@mixin flex($direction, $wrap, $justify, $align, $gap, $dis: flex) {
    display: $dis;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
